<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First name</th>
      <th scope="col">Last name</th>
      <th scope="col">Email</th>
      <th scope="col">Mobile</th>
      <th scope="col">Address</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let customer of customers; index as i"
      [class.active]="i == currentIndex"
    >
      <td>
        {{ customer.id }}
      </td>
      <td>{{ customer.firstName }}</td>
      <td>{{ customer.lastName }}</td>
      <td>{{ customer.email }}</td>
      <td>{{ customer.mobileNumber }}</td>
      <td>
        {{ customer.address.street }} {{ customer.address.state }}
        {{ customer.address.postCode }}
      </td>
      <td>
        <button class="btn btn-info" (click)="setActiveCustomer(customer, i)">
          Select
        </button>
      </td>
    </tr>
  </tbody>
</table>
<div class="row">
  <div *ngIf="!currentCustomer">
    <br />
    <p>Please click on a Customer...</p>
  </div>
  <div *ngIf="currentCustomer.id">
    <h4>Customer Details</h4>
    <div>
      <label><strong>First name:</strong></label>
      {{ currentCustomer.firstName }}
    </div>
    <div>
      <label><strong>Last name:</strong></label>
      {{ currentCustomer.lastName }}
    </div>
    <div>
      <label><strong>Email:</strong></label>
      {{ currentCustomer.email }}
    </div>
    <div>
      <label><strong>Mobile:</strong></label>
      {{ currentCustomer.mobileNumber }}
    </div>
    <div>
      <label><strong>Address:</strong></label>
      {{ currentCustomer.address.street }}
      {{ currentCustomer.address.city }}
      {{ currentCustomer.address.state }}
      {{ currentCustomer.address.postCode }}
      {{ currentCustomer.address.country }}
    </div>
  </div>
</div>
